.singleFarmer {
  font-weight: 400;
}

.singleFarmPageIcon {
  width: 100%;
  height: auto;
}
.sizeText {
  margin: 0 16%;
}
.singleFarmer p {
  margin: 12px 0 12px 0;
}

.singleFarmer h1 {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: center;
  color: green;
}
.singleFarmer h2 {
  text-align: center;
  margin: 32px 0 24px 0;
  color: green;
}
.sectionOne {
  border-bottom: 2px solid darkgreen;
  padding-bottom: 16px;
}
